[Desktop Entry]
Type=Application
Name=Wikt
Comment=Dictionary with all words of all languages.
TryExec=wikt
Exec=wikt %F
Icon=wikt_logo_128
Categories=Text;
Terminal=false
