Source: wikt
Section: text
Priority: optional
Maintainer: Karel Klic <karelklic@gmail.com>
XSBC-Original-Maintainer: Karel Klic <karelklic@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), libqt4-dev (>= 4.5.0), qt4-dev-tools 
Standards-Version: 3.8.1
Homepage: http://wikt.sourceforge.net/

Package: wikt
Architecture: any
Depends: ${shlibs:Depends}
Description: Dictionary with all words of all languages.

